@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
		filter: hue-rotate(45deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
	100% {
    transform: rotate(360deg);
  }
}

@keyframes slideScale {
  0% {
    transform: scale(1);
  }
  100% {
		transform: scale(1.15);
  }
}

// 카드 컴포넌트에 사용되는 애니메이션 START!
@keyframes expandWidth {
  from {
    width: 0;
		border-radius: 0;
  }
	80% {
		border-radius: 0;
	}
  to {
    width: 100%;
		border-radius: 10px;
  }
}

@keyframes expandHeight {
  from {
    height: 0;
  }
	80% {
		border-radius: 0;
	}
  to {
    height: 100%;
		border-radius: 10px;
  }
}
// 카드 컴포넌트에 사용되는 애니메이션 END!

// PageUrls에 사용되는 버튼 애니메이션 START!
@keyframes arrowAnimate {
  from {
    left: 0;
  }
  to {
    left: -5px;
  }
}

@keyframes arrowAnimate2 {
  from {
    right: 0;
  }
  to {
    right: -5px;
  }
}
// PageUrls에 사용되는 버튼 애니메이션 END!


// header에서 bar 클릭시 사용되는 애니메이션 START!
@keyframes headerAnimate {
  from {
    bottom: -75px;
  }
  to {
    bottom: 10px;
  }
}

@keyframes headerAnimate2 {
  from {
		bottom: 10px;
  }
  to {
    bottom: -75px;
  }
}

@keyframes headerBarAnimate {
  from {
    top: -35px;
  }
  to {
    top: 0;
  }
}

@keyframes headerBarAnimate2 {
  from {
    top: 0;
  }
  to {
		top: -35px;
  }
}
// header에서 bar 클릭시 사용되는 애니메이션 END!