.aside_wrap { position: fixed; z-index: 50; top: 0; bottom: 0; width: 250px; background-color: var(--white); box-shadow: 0 0 3px var(--shadow); overflow: auto;
	&::-webkit-scrollbar { width: 0; height: 0; }
	@media (max-width: 1536px) {
    visibility: hidden;
  }
}

// 해더의 side_menu_wrap 클래스 클릭시 START!
.side_active { position: relative;
	.aside_wrap { visibility: visible; }
	.bg_active { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: var(--black); opacity: .7; z-index: 30; }
}
// 해더의 side_menu_wrap 클래스 클릭시 END!

.aside { display: flex; flex-direction: column; align-items: center; padding: 50px 0; }

.profile_wrap { display: flex; flex-direction: column; align-items: center;
	.profile { width: 150px; height: 150px; border-radius: 50%; background-color: var(--thema); overflow: hidden; cursor: pointer;
		&:hover { animation: hueRotate 2s ease-in infinite alternate; }
		img { width: 100%; height: 100%; border-radius: 50%; transition: transform .3s;
			&:hover { transform: scale(1.1); }
		}
		@media (max-width: 640px) {
			&:hover { animation: none; }
			img:hover { transform: none; }
		}
	}
	.sitename { padding-top: 6px; font-size: 1.6rem; font-weight: 500; }
	.nickname { font-size: 1.4rem; font-weight: 400; }
}

.another_site { display: flex; justify-content: center; align-items: center; position: relative; padding: 16px; margin: 16px 0; border-radius: 50px; background-color: var(--whiteFD); border: 1px solid var(--line);
	a { display: block; margin: 0 10px; transition: transform .3s;
		&:hover { transform: scale(1.1); }
		@media (max-width: 640px) {
			&:hover { transform: none; }
		}
	}
	.notefolio { width: 25px; height: 25px; }
	.loud { width: 25px; height: 25px; }
	.tistory { width: 25px; height: 25px; }
	.github { width: 25px; height: 25px; }
}

.nav { width: 100%; padding: 16px 0; border-top: 1px solid var(--line);
	.resume { display: inline-block; width: 100%; padding: 10px 36px; transition: transform .3s;
		background-image: linear-gradient(to right, var(--thema), var(--themalight)); background-clip: text; -webkit-background-clip: text; color: transparent; font-weight: 700;
		&:hover { transform: scale(1.05); animation: hueRotate 2s ease-in infinite alternate; }
		@media (max-width: 640px) {
			&:hover { transform: none; }
		}
	}
	.nav_wrap { width: 100%;
		.category { padding: 20px 36px; color: var(--blacklight);; font-size: 1.5rem; }
		.item { display: flex; align-items: center; position: relative; width: 100%; padding: 12px 36px; background-color: var(--white); color: var(--black); transition: transform .3s, color .3s, background-color .3s; overflow: hidden;
			&:hover { transform: scale(1.05); color: var(--thema); background-color: var(--themalight); }
			// &::after { content: ''; position: absolute; left: 0; right: 100%; bottom: 0; height: 1px; background-color: var(--themabright); transition: .5s ease-in-out; }
			// &:hover::after { right: 0; }

			svg { padding-right: 12px; transition: fill .3s; }
			&:hover svg { fill: var(--thema); }

			@media (max-width: 640px) {
				&:hover { transform: none; color: var(--black); background-color: var(--white); }
				//&::after { content: none; }
			}
		}
	}
}