.banner_wrap { height: 700px; min-height: 450px;
	@media (max-width: 1280px) { height: 650px; }
	@media (max-width: 640px) { height: 450px; }
	.banner { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
		.banner_image { height: 100%; border-radius: 0; filter: brightness(0.1) contrast(0.8); }
		.banner_info { position: absolute; top: calc(50% + 40px); left: 50%; transform: translate(-50%, -50%); width: 100%; max-width: 768px;
			@media (max-width: 1024px) { top: calc(50% + 20px); }
			.card_link_wrap { display: flex; justify-content: center; padding: 16px 0;
				a { color: var(--white); background-color: var(--thema); padding: 4px 8px; border-radius: 4px; font-size: 1.6rem; transition: .3s;
					&:hover { transform: scale(1.05); filter: brightness(0.7);
						@media (max-width: 640px) { transform: none; filter: none; }
					}
				}
			}
			.card_title { padding: 0 64px; font-size: 4.4rem; color: var(--whiteF9); text-align: center; font-weight: 700; font-family: "TTTtangsbudaejjigae", "Malgun Gothic", sans-serif;
				@media (max-width: 1024px) { font-size: 3.8rem; }
				@media (max-width: 640px) { padding: 0 32px; font-size: 3.2rem; line-height: 130%; }
			}
			.card_date { display: flex; justify-content: center; padding: 16px 0; font-size: 1.6rem; }
			.card_skill_wrap { padding: 8px 64px 8px; justify-content: center;
				@media (max-width: 1024px) { padding: 8px 32px 8px; }
				@media (max-width: 640px) { padding: 4px 16px 4px; }
				.card_skill { margin: 4px; 
					
					.skill_img { width: 14px; height: 14px;
						@media (max-width: 640px) { width: 13px; height: 13px; }
					}
					.skill_text { font-size: 1.4rem; }
				}
			}
			.card_hash_wrap { padding: 0 64px 0; justify-content: center;
				@media (max-width: 1024px) { padding: 0 32px 0; }
				@media (max-width: 640px) { padding: 0 16px 0; }
				.card_hash { margin: 4px;
					.hash_text { font-size: 1.4rem; }
				}
			}
		}
	}
}