.blog .card_hash_wrap .card_hash { padding: 5px 12px;
	.hash_text { font-size: 1.6rem; }
}
.blog .card_img { width: 100%; max-width: 100%; height: 500px; border-radius: 10px 10px 0 0; border-radius: 0; }