.hashs_wrap { display: flex; align-items: center; width: 100%; padding: 32px 64px 0;
	@media (max-width: 640px) { padding: 16px 8px 0; }
	.swiper-wrapper { cursor: pointer;
		div { padding: 4px 12px; margin: 4px; border-radius: 999px; background-color: var(--thema); color: var(--white); letter-spacing: 0; font-size: 1.6rem; transition: .3s;
			&:hover { transform: scale(1.05); filter: brightness(.7); }
			@media (max-width: 640px) {
				&:hover { transform: none; filter: none; }
			}
			&.active { background-color: var(--themabright);
				&:hover { transform: none; filter: none; }
			}
		}
	}
}