.header { position: fixed; z-index: 50; top: 0; width: 100%;
	.header_wrap { display: flex; width: calc(100% - 250px); max-width: 100vw; margin-left: 250px; padding: 0 128px; margin-top: 40px; transition: .5s;
		@media (max-width: 1536px) { width: 100%; margin-left: 0;	}
		@media (max-width: 1280px) { padding: 0 64px; }
		@media (max-width: 1024px) { padding: 0 32px; margin-top: 16px; }
		@media (max-width: 640px) { padding: 0; margin-top: 0; }
		// 헤더 스크롤 시 START!
		&.scroll { margin-top: 16px;
			@media (max-width: 640px) { margin-top: 0; }
			.nav { background-color: var(--whiteF9); box-shadow: 0 0 10px 0 var(--whiteCCC);
				.nav_header .resume, .nav_header .nav_wrap .category { color: var(--black); }
				.side_menu_wrap {
					.side_menu { background-color: var(--black); }
				}
			}
		}
		// 헤더 스크롤 시 END!
		.nav { display: flex; align-items: center; justify-content: space-between; width: 100%; height: 80px; border-top: none; border-radius: 999px; transition: background-color 1s;
			@media (max-width: 1024px) { padding: 0; height: 50px; }
			@media (max-width: 640px) { border-radius: 0; background-color: var(--whiteF9); box-shadow: 0 0 10px 0 var(--whiteCCC) }
			.nav_header { display: flex;
				@media (max-width: 640px) { display: none; }
				.resume { width: 170px; padding: 8px 0; margin: 0 8px; background-image: none; background-clip: unset; -webkit-background-clip: unset; color: var(--whiteDDD); transition: all .3s; text-align: center;
					@media (max-width: 1024px) { width: 120px; padding: 4px 0; }
					@media (max-width: 640px) { width: 90px; margin: 0 4px; color: var(--black); }
					&:hover { animation: none; }
				}
				.nav_wrap { width: 170px; position: relative; margin: 0 8px;
					@media (max-width: 1024px) { width: 110px; }
					@media (max-width: 640px) { width: 90px; margin: 0 4px; }
					.category { padding: 8px 0; cursor: pointer; color: var(--whiteDDD); font-weight: 700; font-size: 1.6rem; transition: all .3s; text-align: center;
						@media (max-width: 1024px) { padding: 4px 0; }
						&:hover { transform: scale(1.05); }
					}
					ul { position: absolute; z-index: 60; top: 48px; width: 100%; background-color: var(--themabright); border-radius: 8px; display: none;
						@media (max-width: 1024px) { top: 32px; }
						li:first-child > a { border-radius: 8px 8px 0 0; }
						li:last-child > a {	border-radius: 0 0 8px 8px; }
						.item { justify-content: center; color: var(--white);
							&:hover { color: var(--thema) }
							&::after { display: none; }
						}
					}
				}
			}
			.nav_designer { display: none; width: auto; position: relative; padding: 0 16px; margin: 0 4px;
				@media (max-width: 640px) { display: block; }
				.category { padding: 4px 0; cursor: pointer; color: var(--black); font-weight: 700; font-size: 1.6rem; text-align: center;
				}
			}
			.side_menu_wrap { padding: 0 32px;
				@media (max-width: 1024px) { padding: 0 16px; }
				.side_menu { width: 50px; height: 50px; border-radius: 999px; background: var(--whiteDDD) url('../../../public/images/profile.webp') center center / cover; transition: all .3s; filter: grayscale(1); cursor: pointer;
					@media (max-width: 1024px) { width: 35px; height: 35px; }
					@media (max-width: 640px) { width: 30px; height: 30px; background-color: var(--black); filter: none; }
					&:hover { filter: none; }
				}
			}
		}
	}
}