@import './common.scss';
@import './aside.scss';
@import './header.scss';
@import './animation.scss';
@import './cards.scss';
@import './sliderFade.scss';
@import './blog.scss';
@import './hashs.scss';
@import './category.scss';


$thema: #1D55AA;
$themabright: #4783dd;
$themalight: #f4f8ff;
$line: #dceaff;
$shadow: #e5efff;
$black: #232323;
$blacklight: #555;
$blackmute: #8e95a1;
$silverbright: #cccccc;
$silverlight: #dddddd;
$whitelight: #f9f9f9;
$white: #fff;

:root {
  --thema: #{$thema};
	--themabright: #{$themabright};
	--themalight: #{$themalight};
	--line: #{$line};
	--shadow: #{$shadow};
	--black: #{$black};
	--blacklight: #{$blacklight};
	--blackmute: #{$blackmute};
	--silverbright: #{$silverbright};
	--silverlight: #{$silverlight};
	--whitelight: #{$whitelight};
	--white: #{$white};
}